[package]
name = "es-derive2"
version = "0.1.0"
edition = "2021"

[lib]
proc-macro = true

[dependencies]
syn = { workspace = true, features = ["full"] }
quote = { workspace = true }
proc-macro2 = { workspace = true }
darling = { workspace = true }
deluxe = "0.5"
manyhow = "0.11"
